<uku-component>
    <template>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{cc.labelFunction()}}</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                        <div class="form-group">
                            <label for="message-text" class="control-label">赞美之词:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        (function(){
            return function(uku){
                this.labelFunction = function(){
                    if(this.selectedRepo){
                        return '夸'+ this.selectedRepo.name + '几句';
                    }else{
                        return '夸她几句';
                    }
                    
                };
                Object.defineProperty(this, 'repo', {
                    set: function(value){
                        if(value){
                            this.selectedRepo = value;
                        }
                    }
                })
            };
        })();
    </script>
</uku-component>