<uku-component>
    <template>
        <div class="container" style="padding-top:30px">
            <!-- Example row of columns -->
            <div class="row">
                <repo-item></repo-item>
                <repo-item></repo-item>
                <repo-item></repo-item>
                <repo-item></repo-item>
                <repo-item></repo-item>
                <repo-item></repo-item>
            </div>
            <div class="row" style="padding-top:20px">
                <div class="col-md-12">
                    <button class="btn btn-default btn-block" style="color:#aaa">更多 »</button>
                </div>
            </div>
        </div>
    </template>
    <script>

    </script>
</uku-component>