<uku-component>
    <template>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group pull-right" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                            人气
                        </button>
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            夸过的
                        </button>
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            我的
                        </button>
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                            随便看看
                        </button>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            门第
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">JavaScript</a></li>
                                <li><a href="#">C++</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        
    </script>
</uku-component>