<uku-component>
    <template>
        <div class="col-md-4 repo-item">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
                odio dui.
            </p>
            <span>
                <img src="https://avatars0.githubusercontent.com/u/4987944?v=3" width="50" height="50" class="repo-author-avatar">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="repo-extra">
                <i class="fa fa-star"></i>
                300
                </span> &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="repo-extra">
                <i class="fa fa-code-fork"></i>
                100
                </span> &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="repo-extra">
                <i class="fa fa-comments"></i>
                50
                </span>
            </span>
            <span class="star-btn" uku-onclick="cc.star()">
                <i class="fa fa-star"></i>
                <span style="color:#aaa">+1</span>
            </span>
        </div>
    </template>
    <script>
        (function(jq){
            return function(uku){
                this.star = function(){
                    jq('#myModal').modal('toggle');
                };  
            }
        })($)
    </script>
</uku-component>