<uku-component>
    <template>
        <div uku-class="cc.repoItemStyle()">
            <h2>{{cc.repo.name}}</h2>
            <p class="repo-item-description">{{cc.labelFunction(cc.repo.description)}}</p>
            <span>
                <img uku-src="cc.repo.owner.avatar_url" width="50" height="50" class="repo-author-avatar">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="repo-extra">
                <i class="fa fa-star"></i>
                <span>{{cc.repo.stargazers_count}}</span>
                </span> &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="repo-extra">
                <i class="fa fa-code-fork"></i>
                <span>{{cc.repo.forks_count}}</span>
                </span> &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="repo-extra" uku-render="cc.isRecommended()">
                <i class="fa fa-comments"></i>
                <span>{{cc.repo.extra.comments_count}}</span>
                </span>
            </span>
            <span class="star-btn" uku-onclick="cc.star()">
                <i class="fa fa-star"></i>
                <span style="color:#aaa">+1</span>
            </span>
        </div>
    </template>
    <script>
        (function(){
            return function(uku){
                this.star = function(){
                    //jq('#myModal').modal('toggle');
                    this.fire('opencommentmodal',{repo:this.repo},true);
                };

                this.repoItemStyle = function(){
                    if(this.isRecommended()){
                        return 'col-md-4 repo-item recommend-item';
                    }else{
                        return 'col-md-4 repo-item'
                    }
                };

                this.isRecommended = function(){
                    if(this.repo.extra){
                        return true;
                    }
                    return false;
                };

                this.labelFunction = function(value){
                    if(!value){
                        return '这家伙很懒，什么也没留下';
                    }else{
                        return value;
                    }
                };

                Object.defineProperty(this,'repoItem',{
                    set: function(value){
                        if(value){
                            this.repo = value;
                        }
                    }
                })  
            }
        })();
    </script>
</uku-component>