<uku-component>
    <template>
        <div class="container" style="padding-top:30px">
            <div class="row">
                <div class="col-md-12">
                    <div id="markdownViewer"></div>
                </div>
            </div>
        </div>
    </template>
    <script>
        (function () {
            return function (uku) {
                this.loadReadMe = function (repoName) {
                    NProgress.start();
                    var url = '/api/repos/' + encodeURIComponent(repoName);
                    $.get(url, function (result) {
                        var converter = new showdown.Converter();
                        var html = converter.makeHtml(result);
                        $('#markdownViewer').html(html);
                        NProgress.done();
                    });
                };

                Object.defineProperty(this, 'repo', {
                    set: function (value) {
                        if (value) {
                            this.repositroy = value;
                            this.loadReadMe(this.repositroy.full_name);
                        }
                    }
                });
            };
        })()
    </script>
</uku-component>